/* ROOT RESETS AND VARS */

* {
    margin: 0;
    padding: 0;
}

:root {
    --light-color: moccasin;
    --dark-color: #4B3218;
    --mid-color: chocolate;
}

/* ----------------------------- */
/* TIMER BOX & BODY SETUP STYLES  
/* ----------------------------- */

html {
    background-color: var(--light-color);
    font-size: calc(16px + 1vw);
    line-height: 1.25em;
    font-family: serif;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.timer-box {
    background-color: var(--dark-color);
    border: 2px solid var(--dark-color);
    color: var(--light-color);
    border-radius: 30px;
    width: 85vw;
    max-width: 500px;
    margin: 5vh auto;
    height: 100%;
    max-height: 926px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}   

/* ----------------------------- */
/* BEGIN BUTTON STYLES  
/* ----------------------------- */

button {
    background-color: var(--dark-color);
    border: 2px solid var(--light-color);
    color: var(--light-color);
    font-family: serif;
    font-size: 1.2rem;
    border-radius: 50% 70%;
    width: 120px;
    margin: 0 auto;
    padding: 1.2rem 0rem;
}

button:hover {
    color: var(--mid-color);
    cursor: pointer;
}

/* ----------------------------- */
/* VERTICAL SPACING ADJUSTMENTS  
/* ----------------------------- */

#start-btn {
    margin-top: 30px;
}

#step {
    margin: 0 1.2rem 30px;
}

/* ----------------------------- */
/* SPECIAL TYPE STYLES  
/* ----------------------------- */

.highlight {
    font-style: italic;
}

/* ----------------------------- */
/* BEAN POSITIONING  
/* ----------------------------- */

.bean-defaults {
    position: absolute;
    width: calc(65px + 5vw);
    fill: var(--light-color);
    mix-blend-mode: difference;
}

#bean-1, #bean-2, #bean-3, #bean-4, #bean-5, #bean-6, #bean-7, #bean-8, #bean-9, #bean-10, #bean-11 {
    bottom: 101vh;
}

/* ----------------------------- */
/* PROGRESS BAR STYLES  
/* ----------------------------- */

#progress-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.circle {
    height: 8px;
    width: 8px;
    border: solid 1.5px var(--light-color);
    border-radius: 50%;
    margin: 6px;
}

.filled {
    background-color: var(--light-color);
}

/* ----------------------------- */
/* COFFEE BEAN ANIMATIONS  
/* ----------------------------- */

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}
@keyframes falling {
    to {
        bottom: -20vh;
    }
}

/* ----------------------------- */
/* MOBILE STYLES  
/* ----------------------------- */

@media screen and (max-width: 750px) {
    #step {
        margin: 0 1rem;
    }
}

/* ----------------------------- */
/* DESKTOP STYLES  
/* ----------------------------- */
@media screen and (min-width: 1025px) {
    #start-btn {
        margin-top: 80px;
    }
    #step {
        margin-bottom: 50px;
    }
    .circle {
        height: 10px;
        width: 10px;
    }
    button {
        width: 170px;
        padding: 1rem 0rem;
    }
}