* {
    margin: 0;
    padding: 0;
}

html {
    background-color: moccasin;
    font-size: calc(16px + 1vw);
    line-height: 1.25em;
    font-family: serif;
    color: saddlebrown;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
}

.timer-box {
    border: 2px solid saddlebrown;
    border-radius: 30px;
    width: 85vw;
    max-width: 500px;
    margin: 5vh auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}   

button {
    font-family: serif;
    font-size: 1rem;
    background-color: moccasin;
    color: saddlebrown;
    border: 2px solid saddlebrown;
    border-radius: 50% 70%;
    width: 120px;
    margin: 0 auto;
    padding: 1.2rem 0;
}

button:hover {
    color: chocolate;
    cursor: pointer;
}

#step {
    margin: 0 2rem;
}

.highlight {
    color: chocolate;
}

.bean-box {

}

.bean {
    width: calc(80px + 1vw);
    margin: 0 auto;
    fill: saddlebrown;
    animation: rotation 5s linear infinite;
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 750px) {
    #step {
        margin: 0 1rem;
    }
    .bean {
        width: calc(65px + 1vw);;
    } 
}