* {
    margin: 0;
    padding: 0;
}

html {
    background-color: moccasin;
    font-size: calc(16px + 1vw);
    line-height: 1.25em;
    font-family: serif;
    text-align: center;
}

body {
    height: 100vh;
    display: flex;
}

.timer-box {
    color: saddlebrown;
    border: 2px solid saddlebrown;
    border-radius: 30px;
    width: 85vw;
    max-width: 500px;
    margin: 5vh auto;
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: background-color 4s ease 1s, color 1s ease 2s, border-color 15s ease;
}   

button {
    font-family: serif;
    font-size: 1rem;
    background-color: moccasin;
    color: saddlebrown;
    border: 2px solid saddlebrown;
    border-radius: 50% 70%;
    width: 120px;
    margin: 0 auto;
    padding: 1.2rem 0;
}

button:hover {
    color: chocolate;
    cursor: pointer;
}

#start-btn {
    transition: background-color 4s ease 1s;
}

#step {
    margin: 0 2rem;
}

.highlight {
    color: chocolate;
}

#bean-1 {
    transition: fill 1s ease 2s;
}

.bean {
    width: calc(80px + 1vw);
    margin: 0 auto;
    fill: saddlebrown;
    animation: rotation 15s linear infinite;
}

/* coffee bean animation  */
@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 750px) {
    body {
        height: 85vh;
    }
    #step {
        margin: 0 1rem;
    }
    .bean {
        width: calc(45px + 1vw);;
    } 
}

@media screen and (max-height: 440px) {
    .bean-box {
        display: none;
    }
}