/* reset spacing */

* {
    margin: 0;
    padding: 0;
}

/* set fonts */

@font-face {
    font-family: MangoLatin;
    src: url(../fonts/MATD20VadgamaLatin-Regular.otf);
}

@font-face {
    font-family: MangoGujarati;
    src: url(../fonts/MATD20VadgamaGujarati-Regular.otf);
}

/* set base font & bg styles */

html {
    font-family: 'MangoLatin';
    font-size: 48px;
    color: green;
    background-color: orange;
}

/* inline for running text  */
p {
    display: inline;
}

/* body text layout */
.interview {
    max-width: 65vw; 
    margin-left: 100px;
    padding-top: 50vh;
    padding-bottom: 10vh;
    line-height: 1.5rem;
}

/* keya's color */
.k {
    color: rebeccapurple;
}

/* container for letterforms */
.forms {
    
}

/* letterform default styling */

.letter {
    display: block;
    position: fixed;
    /* type styles */
    color: white;
    font-family: 'MangoGujarati';
    font-size: 20rem;
    /* form positions, default */
    top: -200px;
    right: 150px;
    /* form opacity, default */
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* letterform adjusted positioning */

.landingForm {
    opacity: 0.7;
    top: -100px;
}

.lower {
    top: -150px;
}

.lowermost {
    top: -100px;
}

.lowermostmost {
    top: -50px;
}

.higher {
    top: -300px;
}

/* image handling & hovering */

/* general styling for all buttons */
.btn {
    z-index: 1;
    background-color: rebeccapurple;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    animation: 2s ease infinite pulse;
    opacity: 0.7;
}

/* styling for button 1 */
.btn-1 {
    top: 100px;
    right: 200px;
}

.btn-2 {
    top: 2000px;
    right: 200px;
}

.btn-3 {
    top: 50%;
    right: 50%;
}

/* empty, invisible container for images */
.container {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    background-position: center;
}

/* scale button up on hover */
.btn:hover {
    animation-play-state: paused;
}

/* reveal image on hover of btn 1 */
.btn:hover ~ .container {
    display: inline;
    background-size: cover;
    opacity: 1;
    transition: opacity 1s ease;
}

.btn-1:hover ~ .container {
    background-image: url(../img/letters/ka.jpg);
}

.btn-2:hover ~ .container {
    background-image: url(../img/letters/a.jpg);
}

/* hide letterforms on image reveal */
.btn:hover ~ .forms {
    opacity: 0;
    transition: opacity 1s ease;
}

/* pulse buttons ambiently */
@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    60% {
        transform: scale(1, 1);
    }
}

/* SCRAPS */

/* .thumbs {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: 0 auto;
}

.thumb1 {
    width: 50px;
    height: 50px;
    border: 0px solid rebeccapurple;
    border-radius: 50%;
    background-image: url(../img/scan_1.jpeg);
    background-size: 200px;
    margin: 50px;
}

.thumb2 {
    width: 50px;
    height: 50px;
    border: 0px solid rebeccapurple;
    border-radius: 50%;
    background-image: url(../img/scan_2.jpeg);
    background-size: 200px;
    margin: 50px;
}

.thumb1:hover, .thumb2:hover {
    margin: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-size: cover;
    border-radius: 0%;
} */

/* button {
    font-family: 'MangoLatin';
    font-size: 1rem;
    color: rebeccapurple;
    padding: 20px 30px;
    margin: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 4px solid rebeccapurple;
    background-color: orange;
    border-radius: 80px;
    z-index: 4;
} */

/* button:hover {
    cursor: pointer;
    color: green;
    border-color: green;
} */

/* .btn:hover {
    background-image: url(../img/scan_1.jpeg);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
} */

/* @keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 90%;
    }
    100% {
        opacity: 0%;
    }
} */
