* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: MangoGujaratiDisplay;
    src: url(../fonts/MATD20VadgamaGujaratiDisplay.otf);
}

@font-face {
    font-family: MangoGujarati;
    src: url(../fonts/MATD20VadgamaGujarati-Regular.otf);
}

@font-face {
    font-family: MangoLatin;
    src: url(../fonts/MATD20VadgamaLatin-Regular.otf);
}

html {
    font-size: 16px;
    background-color: rebeccapurple;
}

p {
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

img {
    display: inline;
    max-width: 300px;
}

.conversation {
    font-family: MangoLatin, sans-serif;
    color: rebeccapurple;
    background-color: white;
    vertical-align: bottom;
    width: 300px;
    line-height: 1.5rem;
}

.letterform {
    font-family: 'MangoGujarati', cursive;
    font-size: 20rem;
    color: white;
    background-color: orange;
    padding-right: 40px;
}