* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-color: rebeccapurple;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.sidebar {
    height: 100%;
    width: 200px;
    background-color: orange;
    display: inline-block;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
}

.interview {
    height: 100%;
    color: white;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 200px;
    font-size: 2rem;;
}

p {
    margin: 20px;
    padding: 20px;
}

.letterform {
    font-family: 'Shrikhand', cursive;
    font-size: 5rem;
    color: white;
}
