* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: MangoLatin;
    src: url(../fonts/MATD20VadgamaLatin-Regular.otf);
}

@font-face {
    font-family: MangoGujarati;
    src: url(../fonts/MATD20VadgamaGujarati-Regular.otf);
}

html {
    font-family: 'MangoLatin';
    font-size: 48px;
    background-color: orange;
    color: green;
}

body {
    width: 100%;
    height: 100%;
}

p {
    display: inline;
}
button {
    font-family: 'MangoLatin';
    font-size: 1rem;
    color: rebeccapurple;
    padding: 20px 30px;
    margin: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 4px solid rebeccapurple;
    background-color: orange;
    border-radius: 80px;
    z-index: 2;
}

button:hover {
    cursor: pointer;
    color: green;
    border-color: green;
}

.interview {
    padding: 150px;
    line-height: 1.5rem;
    margin: 0 auto;
    position: absolute;
    top: 0;
    max-width: 60vw;
}

.k {
    color: rebeccapurple;
}

.forms {
    display: inline-block;
    text-align: center;
}

.letter {
    display: block;
    color: white;
    font-family: 'MangoGujarati';
    font-size: 20rem;
    position: fixed;
    margin: 0 auto;
    top: -200px;
    right: 150px;
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 2;
}

.landingForm {
    opacity: 1;
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 90%;
    }
    100% {
        opacity: 0%;
    }
}
